/* Mise en forme du code HTML des pages 1 et 2 */
body 
	{ 	
	background-color: white; /* Modification de l'existant */
	color : white;
    }
h1
	{
	font-size: 48px;
	color: yellow;
	text-align: center;
	text-decoration: none;
	}			
h3
	{
	font-family: "Arial";
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #606060;
    font-style: italic;
	}
p
	{
	font-size: 15px;
	color: #606060;
	text-align: center;
	font-family: "Arial";
	}
.temporaire 	/* Class de h1 */
	{
	font-size: 48px;
	color: red;
	text-align: left;
	text-decoration: underline;
	}
.table1 /* definition de la couleur du tableau */
	{ 
	margin-top : 160px;
	width : center;
	background: linear-gradient(180deg, #1e2761, #7a2048);
	border-radius: 20px;
	} 

.table1_2 /* bord arrondi */
{
	border-radius: 20px;
}

.table2 /* definition de la couleur du tableau */
{
	background: linear-gradient(180deg, #7a2048, #1e2761);
	border-radius: 20px;
}

.table2_1 /* bord arrondi */
{
	border-radius: 20px;
}	
	
body
{
	background-image: url("images/ab.jpg");
 	background-attachment: fixed; /* Le fond restera fixe */
 	background-size: 100%;
}

span.titre /* mise en page du titre */
{
	font-family: "Arial Black";
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin-left: 2px;
    color: #606060;
}

span.intrigue /* mise en page du titre */
{
	font-family: "Arial";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-left: -70%;
    color: #606060;
}

.menu ul 
{
	list-style-type: none; /* la barre des liens est supprimé */
	padding: 20px;
	padding-left: 50px;
}

.menu li /* taille de la police */
{
	padding-top: 10px;
	font-family: "Arial";
	font-size: 16px;
}

.menu a 
{
	text-decoration: none;
	color: white;
	transition: 1s;
}

.menu /* couleur du menu */
{
	width: 300px;
	height: 130px;
	background-color: white;
	border-radius: 6px;	
	padding-left: 20px;
	background: linear-gradient(45deg, blue,red);
}

.menu a:hover /* le texte est rouge quand on passe la souris dessus */
{
	color: red;
}

.pken /* aligner le texte */
{
	text-align: left;
}

.lien /* les liens ne sont plus soulignés */
{
	text-decoration: none;
	color: black;		
}

.lien:hover /* le texte est rouge quand on passe la souris dessus */
{
	color: red;
}

.souligne /* le texte est a 15px du bord du deuxième tableau */
{
	font-size: 17px;
	color: #606060;
	font-family: "Arial";
	text-align: left;
	margin-left: 15px;
}

/* Les keyframes permettent une translation plus fluide */
@keyframes discord 
{
	0% {height:70px; width:250px;}
	 100% {height:500px;width:350px;}
}

@keyframes discord-c {
	0% {height:500px;width:350px;}
    100% {height:70px; width:250px;}
}

.discord 
{
	animation-name: discord-c;
	animation-duration: 2s;
	animation-play-state: pause;
	float:left;
    height:70px;
	width:250px;	
}

.discord:hover 
{
	height:500px;
	width:350px;
	float:left;
	animation-name: discord;
	animation-duration: 2s;
	animation-play-state: pause;
}


@keyframes discord-a
{
	0% {height:110px; width:300px;}
	 100% {height:714px;width:425px;}
}

@keyframes discord-b
{
	0% {height:714px;width:425px;}
    100% {height:110px; width:300px;}
}

.tablediscord /* Background du tableau Discord */
{
	background: linear-gradient(45deg, blue,red);
	border-radius: 20px;
	animation-name: discord-b;
	animation-duration: 3.5s;
	animation-play-state: pause;
	float:left;
    height:110px;
	width:300px;
}

.tablediscord:hover
{
	height:714px;
	width:425px;
	float:left;
	animation-name: discord-a;
	animation-duration: 3.5s;
	animation-play-state: pause;
}


